[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
django = "==4.2.7"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
